<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>{{ page.title }} [Alex Reisner]</title>
  <link href="http://yui.yahooapis.com/combo?2.7.0/build/reset-fonts-grids/reset-fonts-grids.css&amp;2.7.0/build/base/base-min.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/default.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body><div id="doc">

<div id="hd">
  <ul id="navbar">
    <li><a href="/">home</a></li>
    <li><a href="/code">code</a></li>
    <li><a href="/articles">articles</a></li>
    <li><a href="/tidbits">tidbits</a></li>
    <li><a href="http://www.alexreisner.com/">other</a></li>
    <!--<li><a id="contact_link" href="/contact">contact</a></li>-->
  </ul>
</div>

<div id="bd">
  <h1 class="name"><a href="/">Alex Reisner</a></h1>  
  {{ content }}
</div>

<div id="ft">
</div>

</div></body>
</html>
