---
layout: skeleton
---
<div id="doc" class="yui-t4" style="background-image:url(/images/bg_sidebar_car.png)">

<div id="bd">
  <div id="yui-main"><div class="yui-b">
    <ul id="navbar">
      <li><a href="/code">code</a></li>
      <li><a href="/articles">articles</a></li>
      <li><a href="/tidbits">tidbits</a></li>
      <li><a href="http://www.alexreisner.com/">other</a></li>
    </ul><br style="clear:both" />

    <h1>{{ page.title }}</h1>
    {{ content }}
    
  </div></div>
  <div id="sidebar" class="yui-b">
    <a href="/"><img id="sidebar_logo" src="/images/logo_sidebar.png" /></a>
    <p>subscribe via <a href="#">rss</a></p>
    
    <p>what the heck is a &#955;-calculator? (basic lambda calculus explanation)</p>
    
    <p>contact info</p>
  </div>
</div>

<div id="ft">
</div>

</div>

