---
layout: skeleton
---
<div id="doc" class="yui-t4" style="background-image:url(/images/bg_sidebar_car.png)">

<div id="bd">
  <div id="yui-main"><div class="yui-b">
    <ul id="navbar">
    <li><a href="/">home</a></li>
      <li><a href="/code">code</a></li>
      <li><a href="/articles">articles</a></li>
      <li><a href="http://www.alexreisner.com/">other</a></li>
    </ul><br style="clear:both" />

    <h1>{{ page.title }}</h1>
    {{ content }}
    
  </div></div>
  <div id="sidebar" class="yui-b">
    <a href="/"><img id="sidebar_logo" src="/images/logo_sidebar.png" /></a>
    
    <div id="sidebar_content">

      <p>
        subscribe &raquo; <a href="#">rss</a><br />
        read code &raquo; <a href="http://www.github.com/alexreisner">github</a><br />
        say hi &raquo; <a href="http://www.alexreisner.com/contact">contact</a><br />
      </p>
      
      <p><a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=xa-4ac2bccd5e9e095f"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a></p>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=xa-4ac2bccd5e9e095f"></script>

    </div>
  </div>
</div>

<div id="ft">
</div>

</div>

